@import "tailwindcss";

:root {
  --background: #0a0f1e;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
